Now it's time to style our app.

We can edit styles manually but we can also use ready made components that have already been styled and shared in the community.

In this chapter we will do both.

First, we would also use [Material-UI](https://material-ui.com/) - a library with a set of React components that implements Google's Material Design. 
What's good about it is that the design is already implemented right out of the box. 
Not only that, but it also includes a set of icons which are free to use.

There are many things that Material-UI can offer, and it's not easy to follow it up, especially with the constantly evolving and improving API. 
The best way to go with it, is to identify a component you need, and then look for it in the [official website](https://material-ui.com/). 
And when it comes to searching for icons, they can be found on the [material.io](https://material-ui.com/) website through the search bar. 

As we move further in this tutorial you should have a better grasp of Material and how to use it.

![material-ui-icons](https://user-images.githubusercontent.com/7648874/54141504-c853e000-4460-11e9-94b5-aae98ec9a1e3.png)

We will start off by installing some of the needed material libraries and its Typescript types library:

    $ yarn add @material-ui/core @material-ui/icons

`@material-ui/core` includes core component of Material-UI such as Input, Popover, Modal, etc, and `@material-ui/icons` includes a set of icons. 
Material is very generic and has a built in theming system which can be controlled by simply setting few variables, 
which is exactly what we're gonna need in our app.

In our app we're mainly gonna use 2 colors:

- Primary #306759
- Secondary #79e352

The easiest way to reference colors without repeating yourself is through Themes.
Theme definition can easily be done in Material using the MuiThemeProvider component:

{{{ diffStep "2.2" module="client" }}}


We create a `palette` of the themes together with any other definitions for the theme, and then we wrap our app with a React component
from the `material-ui` library to provide those definitions to all of our App's components when they need them.

Once we have it set, the colors should be available to use in our application by simply providing the "color" prop to the component instance whose color we would like to change:

```diff
<Button color="primary">Primary</Button>
<Button color="secondary">Secondary</Button>
```

In our app, we're also gonna use CSS directly to change its colors, therefore it would be handy to have these theme variables available to us through CSS. 
To do so, we will have a second definition of these variables in `index.css`, at the `:root` level of our application.

That feels like a small duplication but this will help us use them in styled components directly. 
Also that means you can view the variables in chrome-dev-tools.

{{{ diffStep "2.3" module="client" }}}

`:root` is a pseudo element that simply represents the root node, which will make the colors available in all elements. 
Normally, it works like JavaScript's scoping system and it will make variables available only to the current node and to its children, NOT its parents. 
CSS vars can be used like so:

```css
  color: var(--primary-text);
  background-color: var(--primary-bg);
```

More information about CSS variables can be found in the [official MDN docs](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables).

So getting back to the ChatsListScreen, we will wrap the ChatsNavbar with Material's <Toolbar /> component:

{{{ diffStep "2.4" module="client" files="ChatsNavbar.tsx" }}}

And we will replace the `<ul />` and `<li />` elements with Material's `<List />` and `<ListItem />` in ChatsList:

{{{ diffStep "2.4" module="client" files="ChatsList.tsx" }}}

Thanks to the `button` attribute, the Material component can give our list a more vibrant feeling and that will display a nice ripple effect once an item is clicked, 
something that could have taken a long time to implement manually.

Now that we are using existing styled components, it's time to customize them to look exactly like we want them to look.
When we write styles, we usually use CSS.

One of the important concepts that React brought us was the fact we could use just Javascript to describe our components 
and another was the fact that we could encapsulate our UI into a set of separated components.

But when it comes to CSS, we are still using it like before, having no encapsulation between different definitions and files.

[Styled-components](https://www.styled-components.com/) is a relatively new library that will transpile a given string into a CSS string and will encapsulate it under a `React.Component`. 
Bringing the same concepts from React into the way we write styles, so we can define our styles programmatically. 
With JavaScript in-hand you naturally have more control over our styles and its encapsulation, which makes it a very powerful tool.

Here's one way to style a button using styled-components:

```js
import styled, { css } from 'styled-components';

const Button = styled.button`
  background: transparent;
  border-radius: 3px;
  border: 2px solid palevioletred;
  color: palevioletred;
  margin: 0.5em 1em;
  padding: 0.25em 1em;

  ${props => props.primary && css`
    background: palevioletred;
    color: white;
  `}
`;
```

* `styled` is coming from the `styled-components` library. When we call `styled.button` that means we are extending a button component from styled.
* `Button` will become a full React componnet with the extended styled we specified
* Like a React component, we can send props into our component. And like a React function, we can write Javascript code that interact and respond to those props.
In our case, just like a check we've done before in TSX to render something only if it exists, here only if we have a `primary` property, we will add extra styles to our component.
The created Button is actually a React.Component, so an instance of it can be created with ease like any other component:
* `css` is telling Styled components that the string literal that comes after describes CSS styles.

```jsx
  <Button primary />
```

But as this is just like a component, we should type it just like we type component, defining what properties it should get in:

```tsx
import styled, { css } from 'styled-components';

interface ButtonProps {
  readonly primary: any;
};

const Button = styled.button<ButtonProps>`
  background: transparent;
  border-radius: 3px;
  border: 2px solid palevioletred;
  color: palevioletred;
  margin: 0.5em 1em;
  padding: 0.25em 1em;

  ${props => props.primary && css`
    background: palevioletred;
    color: white;
  `}
`;
```

More information about styled-components can be found in the official [docs page](https://www.styled-components.com/docs).

Now, we will use `styled-components` to create new React.Components which are bound into a style-sheet. 
This way when we create new instances of them, the components will be styled right out of the box. Example:

```jsx
const Button = styled.button `
  border-radius: 999px;
`

const RedButton = styled(Button) `
  color: red;
`

const GreenButton = styled(Button) `
  color: green;
`

const BlueButton = styled(Button) `
  color: blue;
`

const Dashboard = (
  <div>
    <RedButton />
    <GreenButton />
    <BlueButton />
  </div>
)
```

The clear advantage of such working strategy is that all the styles are encapsulated, unlike traditional CSS where style rules can easily collide and be merged unintentionally. 
Remember that **`styled-components` operates per component, not globally**.

We will start off by installing `styled-components` and its Typescript types library:

    $ yarn add styled-components @types/styled-components

Now, let's use `styled-components` our `ChatsListScreen`:

{{{ diffStep "2.5" module="client" files="index.tsx" }}}

Here you can see that we've created a new component called `Container`.
That component is extending `div` and adds some styles into it.
Then we've replaced the `div` element with the new, enhanced `div` called `Container`.

With this we know for sure that the styles we applied for `Container` won't affect any other component in our app.

{{{ diffStep "2.5" module="client" files="ChatsNavbar.tsx" }}}

Here you can see we've done the same, but instead of extending a built-in component from styled-component, 
we enhanced the `Toolbar` component from `material-ui. 

Notice that we also called the wrapper `Container` but again it has no affect on any component outside of our specific component.

> Notice that we've added Typescript type inference `as typeof Toolbar` at the end. That's because of an issue that suppose to be fixed when we'll upgrade to material-ui v4.

Let's finish this off by doing the same in our last component:

{{{ diffStep "2.5" module="client" files="ChatsList.tsx" }}}

Notice that we've changed the structure of the HTML of the `ChatsList` component. 
We've added the ChatInfo to allow better alignment of the elements.

We're done styling `ChatsListScreen`. We will keep using the same principles to style the rest of the components in our application. The final result should look like so:

![screenshot](https://user-images.githubusercontent.com/7648874/54141766-40baa100-4461-11e9-8dd0-59edcfdb3b84.png)


TODO: What do people think about https://www.styled-components.com/docs/tooling#babel-plugin, should we use it here?
